 <!-- Begin Left menu -->
<div id="layoutSidenav_nav" class="layoutSidenav_nav_Left sidebar-left order-sidebar">
     <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

        <div class="sb-sidenav-menu">
            <div class="cat-title">Danh mục</div>
            <div class="cat-item" catslug="mon-noi-bat">
                <div class="cat-name">Món nổi bật</div>
                <div class="cat-amount">45</div>
            </div>
            <div class="cat-item" catslug="instant-milk-tea">
                <div class="cat-name">Trà Sữa</div>
                <div class="cat-amount">18</div>
            </div>
            <div class="cat-item" catslug="fresh-fruit-tea">
                <div class="cat-name">Fresh Fruit Tea</div>
                <div class="cat-amount">0</div>
            </div>
            <div class="cat-item" catslug="instant-milk-tea">
                <div class="cat-name">Macchiato Cream Cheese</div>
                <div class="cat-amount">8</div>
            </div>
            <div class="cat-item" catslug="ca-phe">
                <div class="cat-name">Cà Phê</div>
                <div class="cat-amount">4</div>
            </div>
            <div class="cat-item" catslug="ice-scream">
                <div class="cat-name">Ice Cream</div>
                <div class="cat-amount">5</div>
            </div>
            <div class="cat-item" catslug="special-menu">
                <div class="cat-name">Special Menu</div>
                <div class="cat-amount">8</div>
            </div>
        </div>
        <!--<div class="sb-sidenav-footer">
            <div class="small"></div>
        </div>-->
    </nav>
</div>
<!-- End Left menu -->