 <!-- Begin Right menu -->
<div id="layoutSidenav_nav" class="layoutSidenav_nav_Right sidebar-right order-sidebar">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

        <div class="sb-sidenav-menu">
            <div class="cart-group-top">
                <div class="cart-title">
                    <div class="arrow-down">
                        <i class="fas fa-arrow-down" aria-hidden="true"></i>
                    </div>
                    <div class="cart-title-left"> Giỏ hàng của tôi </div>
                    <div class="cart-title-right" id="clear-cart"> Xóa tất cả </div>
                </div>

                <div class="cart-ss1">Chưa có sản phẩm nào!</div>
            </div>
            <div class="cart-group-bottom">
                <div class="cart-ss2">
                    <img class="img-toco" src="https://tocotocotea.com/wp-content/themes/tocotocotea/assets/images/icon-glass-tea.png" alt="" style="height:40px;">
                    <span class="cart-ss2-one">x</span>
                    <span class="cart-ss2-two">0</span>
                    <span class="cart-ss2-three">=</span>
                    <span class="cart-ss2-four">0đ</span>
                </div>
                <div class="cart-ss3">
                    <!--<div class="button-cart1" style="height: 30px;border-radius: 30px;display: flex;align-items: center;justify-content: center;background: #ec0c36;color: #ffffff;margin: 0 20px;cursor: pointer; padding:5px;">Tạm dừng T/toán</div> -->
                    <div class="button-cart">Thanh toán</div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- End Right menu -->