
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <!--<a class="navbar-brand ps-3" href="">Admin Dashboard</a>-->
    <img class="navbar-brand ps-3" src="https://tocotocotea.com/wp-content/themes/tocotocotea/assets/images/logo.png" alt="">
    <!-- Navbar-->
    <!--
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
             <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                 <li><a class="dropdown-item" href="#!">Settings</a></li>
                 <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                 <li><hr class="dropdown-divider" /></li>
                 <li><a class="dropdown-item" href="#!">Logout</a></li>
             </ul>
        </li>
    </ul>-->
    <div class="product-search">
        <form asp-action="Search" method="get">
            <input type="text" name="keyword" placeholder="Tìm kiếm sản phẩm..." />
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass" style="color: #bfbfbf;"></i>
            </button>
        </form>
    </div>
    <div class="login-button">
        <button type="submit" class="btn">Đăng nhập</button>
    </div>
</nav>
