
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ToCoToCo - Danh mục sản phẩm</title>
    <link href="https://dongphucbonmua.com/wp-content/uploads/2021/09/dong-phuc-tocotoco-3-min.jpg" rel="icon" type="">
    <link href="~/css/user-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body class="sb-nav-fixed">
    <!-- Begin Top nav -->
        <partial name="UserTopNav" />
    <!-- End Top nav -->
    <div id="layoutSidenav" class="order-content">
        <!-- Begin Left menu -->
            <partial name="UserLeftMenu" />
        <!-- End Left menu -->
        <!-- Begin Right content -->
        <div id="layoutSidenav_content">
            <!-- Begin Main -->
               <main>
                   @RenderBody()
               </main> 
            <!-- End Main -->
            <!-- Begin Footer -->
               <partial name="UserFooter" />
            <!-- End Footer -->
        </div>
            <partial name="UserRightMenu" />
        <!-- End Right content -->
    </div>

</body>
</html>
