@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";


}
<div id="layoutSidenav_content">
    <div id="layoutSidenav_nav" style="width: 530px;">
        <div class="order-center">
            <!-- <div class="top-center">
              <div class="top-center-left">
                <i class="fas fa-map-marker-alt"></i>
                <span>Hà Nội</span>
              </div>
              <div class="top-center-right">
                <div class="view-grid">
                  <i class="fas fa-th-large"></i>
                </div>
              </div>
            </div> -->
            <div class="main-center">
                <div class="category" catslug="mon-noi-bat">
                    <div class="category-name">
                        <div class="left">Món Nổi Bật</div>
                        <div class="right">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="list-product">
                        <div class="list-product-flex">
                            <div class="product" product_id="355835" default_variation_id="355836">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/09/z5849639195288_ab6be655af86d11d4dd5f446031cb465.jpg" alt="">
                                <div class="product-name">Thạch Đào Tiên - Peach Jelly</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        48,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354691" default_variation_id="354692">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/Kem-Vani-Tra-Sua-Tran-Chau-Hoang-Kim.png" alt="">
                                <div class="product-name">Kem Vani Trà Sữa Trân Châu Hoàng Kim</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354687" default_variation_id="354688">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/Kem-Tra-Sua-Tran-Chau-Hoang-Kim.png" alt="">
                                <div class="product-name">Kem Trà Sữa Trân Châu Hoàng Kim</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354681" default_variation_id="354682">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/O-long-dao-le-tay-bac-khong-lo.png" alt="">
                                <div class="product-name">Ô Long Đào Lê Tây Bắc Khổng Lồ - 1000ml</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        45,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354677" default_variation_id="354678">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/Xanh-Nhai-Le-Tay-Bac-Khong-Lo.png" alt="">
                                <div class="product-name">Xanh Nhài Lê Tây Bắc Khổng Lồ - 1000ml</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        45,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354669" default_variation_id="354670">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/O-Long-Dao-Le-Tay-Bac.png" alt="">
                                <div class="product-name">Ô Long Đào Lê Tây Bắc</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        30,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354657" default_variation_id="354658">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/Xanh-Nhai-Le-Tay-Bac.png" alt="">
                                <div class="product-name">Xanh Nhài Lê Tây Bắc</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        30,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354654" default_variation_id="354656">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/Tra-Sua-BoBa-Cheese.png" alt="">
                                <div class="product-name">Trà Sữa Boba Cheese</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="350472" default_variation_id="350474">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/06/Xanh-Nhai-Mang-Cau.png" alt="">
                                <div class="product-name">Xanh nhài mãng cầu</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="350467" default_variation_id="350469">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/06/Phe-Tra-Chanh-Vang.png" alt="">
                                <div class="product-name">Phê Trà Chanh Vàng</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="350462" default_variation_id="350464">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/06/Xanh-Nhai-Xoai-Bang-Tuyet.png" alt="">
                                <div class="product-name">Xanh Nhài Xoài Băng Tuyết</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="350456" default_variation_id="350457">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/06/Xanh-Nhai-Mang-Cau-Xoai.png" alt="">
                                <div class="product-name">Xanh Nhài Mãng Cầu Xoài</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        36,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="350451" default_variation_id="350452">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/06/Xanh-Nhai-Sua-Dua-Pho-Mai-Tuoi.png" alt="">
                                <div class="product-name">Xanh Nhài Sữa Dừa Phô Mai Tươi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="350444" default_variation_id="350445">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/06/Xanh-Nhai-Sua-Toco_Tea.png" alt="">
                                <div class="product-name">Xanh Nhài Sữa Tươi Toco</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        30,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347580" default_variation_id="347581">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/O-long-sua-tuoi.png" alt="">
                                <div class="product-name">Ô Long Sữa Tươi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347573" default_variation_id="347574">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/Oolong-Dao-Que-Hoa-Kem-Cheese.png" alt="">
                                <div class="product-name">Ô Long Đào Quế Hoa Kem Cheese</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347569" default_variation_id="347570">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/phe-sua-kem-cheese.png" alt="">
                                <div class="product-name">Phê Sữa Kem Cheese</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347564" default_variation_id="347565">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/O-long-sua-kem-cafe-tran-chau-soi.png" alt="">
                                <div class="product-name">Ô Long Sữa Kem Café Trân Châu Sợi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347528" default_variation_id="347529">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/Tra-Xanh-Dao-Que-Hoa.png" alt="">
                                <div class="product-name">Trà Xanh Nhài Đào Tiên</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347500" default_variation_id="347501">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/Tra-Dao-Tien-Que-Hoa-1.png" alt="">
                                <div class="product-name">Trà Đào Tiên Quế Hoa</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="342093" default_variation_id="342094">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/01/z5200313014176_88115b1d87eae335d18ada8210389e0d.jpg" alt="">
                                <div class="product-name">Ô Long Tuyết Lê Khổng Lồ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        45,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="339079" default_variation_id="339080">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/12/z4967287161207_d582f10a876bcc7359666df4f2ec76c5.jpg" alt="">
                                <div class="product-name">Trà Chanh Mật Ong Giã Tay Khổng Lồ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        43,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="338072" default_variation_id="338076">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/11/z4925614520640_1babe5daea83472f4784ceb3cd206979.jpg" alt="">
                                <div class="product-name">Trà Chanh Mật Ong Giã Tay</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="338058" default_variation_id="338059">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/11/z4925614515113_5bdf67d7e4b3ee98215ea11da9b303e9.jpg" alt="">
                                <div class="product-name">Ô Long Sữa Trân Châu Ngũ Cốc</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        35,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="333953" default_variation_id="333954">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/10/z4853951474939_d2f4544ce4706979c9779d466a8efc5e.jpg" alt="">
                                <div class="product-name">Sữa Tươi Trân Châu Đường Hổ Khổng Lồ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        45,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="332910" default_variation_id="332911">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/09/z4704498631032_4dc66b5cea996f0c14840a46043f161c.jpg" alt="">
                                <div class="product-name">Người Bạn Xanh Sữa Nhài Khổng Lồ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        45,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="329197" default_variation_id="329198">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/08/z4617754537982_689908f83d0785da485d70d0307e5130.jpg" alt="">
                                <div class="product-name">Kem Ly Vani Dâu</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="325788" default_variation_id="325789">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/07/9501a1967827a879f136.jpg" alt="">
                                <div class="product-name">Cà Phê Đen Đá</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        18,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="325785" default_variation_id="325786">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/07/170b2e9cf72d27737e3c.jpg" alt="">
                                <div class="product-name">Cà Phê Sữa Đá</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        18,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="325024" default_variation_id="325025">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/05/CF-Kem-Tran-Chau-HK.jpg" alt="">
                                <div class="product-name">Cafe Kem Trân Châu Hoàng Kim</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="325020" default_variation_id="325021">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/05/kem-tran-chau-hoang-kim.jpg" alt="">
                                <div class="product-name">Kem Trân Châu Hoàng Kim</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="318053" default_variation_id="318054">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/05/O-Long-Man-Kem-Pho-Mai.jpg" alt="">
                                <div class="product-name">Ô Long Mận Kem Phô Mai</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="313713" default_variation_id="313714">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/04/tra-sua-tran-chau-duong-den.jpg" alt="">
                                <div class="product-name">Trà Sữa Trân Châu Đường Hổ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        33,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="299713" default_variation_id="299714">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/01/Tra-sua-pho-mai-tuoi.png" alt="">
                                <div class="product-name">Trà Sữa Phô Mai Tươi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        40,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="279430" default_variation_id="279431">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2022/10/tra-man.jpg" alt="">
                                <div class="product-name">Ô Long Mận Mộc Châu Thạch Quế Hoa</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        36,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="13125" default_variation_id="13126">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/11/Jelly-coffee.jpg" alt="">
                                <div class="product-name">Jelly Milk Coffee</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="13121" default_variation_id="13122">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/11/cheese-milk-coffee.png" alt="">
                                <div class="product-name">Cheese Milk Coffee</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1131" default_variation_id="1132">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/06/TS_TIGER_SUGAR.jpg" alt="">
                                <div class="product-name">Tiger Sugar</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1039" default_variation_id="1041">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Sua-Tran-Chau-Hoang-Gia-1-copy.jpg" alt="">
                                <div class="product-name">Trà Sữa Trân Châu Hoàng Gia</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1044" default_variation_id="1046">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/ba-anh-em.jpg" alt="">
                                <div class="product-name">Trà Sữa Ba Anh Em</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        39,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1011" default_variation_id="1013">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/tra-sua-tran-chau-soi.jpg" alt="">
                                <div class="product-name">Trà Sữa Trân Châu Sợi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        39,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1019" default_variation_id="1021">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Sua-Okinawa_Moi.png" alt="">
                                <div class="product-name">Trà Sữa Kim Cương Đen Okinawa</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1128" default_variation_id="1129">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/oolong-kem-pho-mai_75e8d3f11fb3402196416da77c8ff33a_grande.png" alt="">
                                <div class="product-name">Ô Long Kem Phô Mai</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        40,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1134" default_variation_id="1135">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/dau-tam-kem-pho-mai.png" alt="">
                                <div class="product-name">Dâu Tằm Kem Phô Mai</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1140" default_variation_id="1142">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/tra-dua.jpg" alt="">
                                <div class="product-name">Trà Dứa Thạch Konjac</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        40,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category" catslug="instant-milk-tea">
                    <div class="category-name">
                        <div class="left">Instant Milk Tea</div>
                        <div class="right">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="list-product" style="display: none;">
                        <div class="list-product-flex"></div>
                    </div>
                </div>
                <div class="category" catslug="fresh-fruit-tea">
                    <div class="category-name">
                        <div class="left">Fresh Fruit Tea</div>
                        <div class="right">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="list-product" style="display: none;">
                        <div class="list-product-flex">
                            <div class="product" product_id="347528" default_variation_id="347529">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/Tra-Xanh-Dao-Que-Hoa.png" alt="">
                                <div class="product-name">Trà Xanh Nhài Đào Tiên</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347500" default_variation_id="347501">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/Tra-Dao-Tien-Que-Hoa-1.png" alt="">
                                <div class="product-name">Trà Đào Tiên Quế Hoa</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="342093" default_variation_id="342094">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/01/z5200313014176_88115b1d87eae335d18ada8210389e0d.jpg" alt="">
                                <div class="product-name">Ô Long Tuyết Lê Khổng Lồ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        45,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="339079" default_variation_id="339080">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/12/z4967287161207_d582f10a876bcc7359666df4f2ec76c5.jpg" alt="">
                                <div class="product-name">Trà Chanh Mật Ong Giã Tay Khổng Lồ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        43,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="338072" default_variation_id="338076">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/11/z4925614520640_1babe5daea83472f4784ceb3cd206979.jpg" alt="">
                                <div class="product-name">Trà Chanh Mật Ong Giã Tay</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="279430" default_variation_id="279431">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2022/10/tra-man.jpg" alt="">
                                <div class="product-name">Ô Long Mận Mộc Châu Thạch Quế Hoa</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        36,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1137" default_variation_id="1138">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Dau-Tam-Pha-Le-Tuyet-2-copy.jpg" alt="">
                                <div class="product-name">Trà dâu tằm pha lê tuyết</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1140" default_variation_id="1142">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/tra-dua.jpg" alt="">
                                <div class="product-name">Trà Dứa Thạch Konjac</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        40,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category" catslug="macchiato-cream-cheese">
                    <div class="category-name">
                        <div class="left">Macchiato Cream Cheese</div>
                        <div class="right">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="list-product" style="display: none;">
                        <div class="list-product-flex">
                            <div class="product" product_id="347573" default_variation_id="347574">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/Oolong-Dao-Que-Hoa-Kem-Cheese.png" alt="">
                                <div class="product-name">Ô Long Đào Quế Hoa Kem Cheese</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347569" default_variation_id="347570">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/phe-sua-kem-cheese.png" alt="">
                                <div class="product-name">Phê Sữa Kem Cheese</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347564" default_variation_id="347565">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/O-long-sua-kem-cafe-tran-chau-soi.png" alt="">
                                <div class="product-name">Ô Long Sữa Kem Café Trân Châu Sợi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="318053" default_variation_id="318054">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/05/O-Long-Man-Kem-Pho-Mai.jpg" alt="">
                                <div class="product-name">Ô Long Mận Kem Phô Mai</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1134" default_variation_id="1135">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/dau-tam-kem-pho-mai.png" alt="">
                                <div class="product-name">Dâu Tằm Kem Phô Mai</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1128" default_variation_id="1129">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/oolong-kem-pho-mai_75e8d3f11fb3402196416da77c8ff33a_grande.png" alt="">
                                <div class="product-name">Ô Long Kem Phô Mai</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        40,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1105" default_variation_id="1106">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Hong-Tra-Kem-Pho-Mai-2-copy.jpg" alt="">
                                <div class="product-name">Hồng Trà Kem Phô Mai</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1108" default_variation_id="1110">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Xanh-Kem-Pho-Mai-2-copy.jpg" alt="">
                                <div class="product-name">Trà Xanh Kem Phô Mai</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category" catslug="tra-sua">
                    <div class="category-name">
                        <div class="left">Trà Sữa</div>
                        <div class="right">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="list-product" style="">
                        <div class="list-product-flex">
                            <div class="product" product_id="354669" default_variation_id="354670">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/O-Long-Dao-Le-Tay-Bac.png" alt="">
                                <div class="product-name">Ô Long Đào Lê Tây Bắc</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        30,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354657" default_variation_id="354658">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/Xanh-Nhai-Le-Tay-Bac.png" alt="">
                                <div class="product-name">Xanh Nhài Lê Tây Bắc</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        30,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354654" default_variation_id="354656">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/Tra-Sua-BoBa-Cheese.png" alt="">
                                <div class="product-name">Trà Sữa Boba Cheese</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="338058" default_variation_id="338059">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/11/z4925614515113_5bdf67d7e4b3ee98215ea11da9b303e9.jpg" alt="">
                                <div class="product-name">Ô Long Sữa Trân Châu Ngũ Cốc</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        35,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="333953" default_variation_id="333954">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/10/z4853951474939_d2f4544ce4706979c9779d466a8efc5e.jpg" alt="">
                                <div class="product-name">Sữa Tươi Trân Châu Đường Hổ Khổng Lồ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        45,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="332910" default_variation_id="332911">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/09/z4704498631032_4dc66b5cea996f0c14840a46043f161c.jpg" alt="">
                                <div class="product-name">Người Bạn Xanh Sữa Nhài Khổng Lồ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        45,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="313713" default_variation_id="313714">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/04/tra-sua-tran-chau-duong-den.jpg" alt="">
                                <div class="product-name">Trà Sữa Trân Châu Đường Hổ</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        33,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="299713" default_variation_id="299714">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/01/Tra-sua-pho-mai-tuoi.png" alt="">
                                <div class="product-name">Trà Sữa Phô Mai Tươi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        40,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1131" default_variation_id="1132">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/06/TS_TIGER_SUGAR.jpg" alt="">
                                <div class="product-name">Tiger Sugar</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1039" default_variation_id="1041">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Sua-Tran-Chau-Hoang-Gia-1-copy.jpg" alt="">
                                <div class="product-name">Trà Sữa Trân Châu Hoàng Gia</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1044" default_variation_id="1046">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/ba-anh-em.jpg" alt="">
                                <div class="product-name">Trà Sữa Ba Anh Em</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        39,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1011" default_variation_id="1013">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/tra-sua-tran-chau-soi.jpg" alt="">
                                <div class="product-name">Trà Sữa Trân Châu Sợi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        39,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1019" default_variation_id="1021">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Sua-Okinawa_Moi.png" alt="">
                                <div class="product-name">Trà Sữa Kim Cương Đen Okinawa</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1049" default_variation_id="1051">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Xanh-Sua-Vi-Nhai-1-copy-1.jpg" alt="">
                                <div class="product-name">Trà Xanh Sữa Vị Nhài</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        33,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1064" default_variation_id="1066">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-O-Long-Sua-2-copy.jpg" alt="">
                                <div class="product-name">Trà Sữa Ô Long</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        34,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1024" default_variation_id="1026">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Sua-Socola-1-copy.jpg" alt="">
                                <div class="product-name">Trà Sữa Socola</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        35,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1034" default_variation_id="1036">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Sua-Dau-Tay-2-copy.jpg" alt="">
                                <div class="product-name">Trà sữa dâu tây</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        34,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1001" default_variation_id="1003">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/Tra-Sua-1-copy.jpg" alt="">
                                <div class="product-name">Trà sữa</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        33,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category" catslug="special-drink">
                    <div class="category-name">
                        <div class="left">Cà Phê</div>
                        <div class="right">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="list-product">
                        <div class="list-product-flex">
                            <div class="product" product_id="325788" default_variation_id="325789">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/07/9501a1967827a879f136.jpg" alt="">
                                <div class="product-name">Cà Phê Đen Đá</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        18,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="325785" default_variation_id="325786">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/07/170b2e9cf72d27737e3c.jpg" alt="">
                                <div class="product-name">Cà Phê Sữa Đá</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        18,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="13125" default_variation_id="13126">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/11/Jelly-coffee.jpg" alt="">
                                <div class="product-name">Jelly Milk Coffee</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="13121" default_variation_id="13122">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/11/cheese-milk-coffee.png" alt="">
                                <div class="product-name">Cheese Milk Coffee</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                    <p class="product-sale-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category" catslug="ice-cream">
                    <div class="category-name">
                        <div class="left">Ice Cream</div>
                        <div class="right">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="list-product">
                        <div class="list-product-flex">
                            <div class="product" product_id="354691" default_variation_id="354692">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/Kem-Vani-Tra-Sua-Tran-Chau-Hoang-Kim.png" alt="">
                                <div class="product-name">Kem Vani Trà Sữa Trân Châu Hoàng Kim</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="354687" default_variation_id="354688">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/08/Kem-Tra-Sua-Tran-Chau-Hoang-Kim.png" alt="">
                                <div class="product-name">Kem Trà Sữa Trân Châu Hoàng Kim</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="329197" default_variation_id="329198">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/08/z4617754537982_689908f83d0785da485d70d0307e5130.jpg" alt="">
                                <div class="product-name">Kem Ly Vani Dâu</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="325024" default_variation_id="325025">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/05/CF-Kem-Tran-Chau-HK.jpg" alt="">
                                <div class="product-name">Cafe Kem Trân Châu Hoàng Kim</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="325020" default_variation_id="325021">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2023/05/kem-tran-chau-hoang-kim.jpg" alt="">
                                <div class="product-name">Kem Trân Châu Hoàng Kim</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        25,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category" catslug="special-menu">
                    <div class="category-name">
                        <div class="left">Special Menu</div>
                        <div class="right">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="list-product" style="">
                        <div class="list-product-flex">
                            <div class="product" product_id="350456" default_variation_id="350457">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/06/Xanh-Nhai-Mang-Cau-Xoai.png" alt="">
                                <div class="product-name">Xanh Nhài Mãng Cầu Xoài</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        36,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="350451" default_variation_id="350452">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/06/Xanh-Nhai-Sua-Dua-Pho-Mai-Tuoi.png" alt="">
                                <div class="product-name">Xanh Nhài Sữa Dừa Phô Mai Tươi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="350444" default_variation_id="350445">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/06/Xanh-Nhai-Sua-Toco_Tea.png" alt="">
                                <div class="product-name">Xanh Nhài Sữa Tươi Toco</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        30,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347580" default_variation_id="347581">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/O-long-sua-tuoi.png" alt="">
                                <div class="product-name">Ô Long Sữa Tươi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        35,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347573" default_variation_id="347574">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/Oolong-Dao-Que-Hoa-Kem-Cheese.png" alt="">
                                <div class="product-name">Ô Long Đào Quế Hoa Kem Cheese</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347569" default_variation_id="347570">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/phe-sua-kem-cheese.png" alt="">
                                <div class="product-name">Phê Sữa Kem Cheese</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="347564" default_variation_id="347565">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2024/04/O-long-sua-kem-cafe-tran-chau-soi.png" alt="">
                                <div class="product-name">Ô Long Sữa Kem Café Trân Châu Sợi</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                            <div class="product" product_id="1134" default_variation_id="1135">
                                <div class="tags">
                                </div>
                                <img src="https://tocotocotea.com/wp-content/uploads/2021/01/dau-tam-kem-pho-mai.png" alt="">
                                <div class="product-name">Dâu Tằm Kem Phô Mai</div>
                                <div class="product-price">
                                    <p class="product-origin-price">
                                        38,000đ
                                    </p>
                                </div>
                                <div class="btn-increase">+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    // Lấy tất cả các danh mục
    var categories = document.querySelectorAll('.category-name');

    categories.forEach(function (category) {
        // Thêm sự kiện click cho từng danh mục
        category.addEventListener('click', function () {
            // Lấy danh sách sản phẩm liên quan
            var listProduct = this.nextElementSibling;

            // Ẩn tất cả các danh sách sản phẩm khác
            document.querySelectorAll('.list-product').forEach(function (list) {
                if (list !== listProduct) {
                    list.style.display = 'none'; // Ẩn các danh sách khác
                }
            });

            // Toggle hiển thị danh sách sản phẩm của danh mục hiện tại
            if (listProduct.style.display === 'none' || listProduct.style.display === '') {
                listProduct.style.display = 'block'; // Hiển thị nếu đang ẩn
            } else {
                listProduct.style.display = 'none'; // Ẩn nếu đang hiện
            }
        });
    });
</script>